@media screen and (max-width: 400px) {
    .contentSmall{
        display: none;
    }
}

.innerKnowme, .portforlioContent, footer, .divOne, .linkedIn{
    display: flex;
}

.innerKnowme, .divOne{
    flex-direction: column;
}

#mainContent{
    width: 86vw;
    margin: 0 auto; 
    background: #ccc;
}

section{
    min-height: 30vh;
    padding: 30px 0px;
    text-align: justify;
}

section p{
    font-weight: 100;
    line-height: 33px;
}

section>div>h1{
    padding-bottom: 15px;
    text-align: center;
    font-size: 2rem;   
    color: #42425a;
}

.spanProfile{
    font-size: 1.1rem;
    font-weight: 400;
}

#knowme p{
    padding-top: 15px;
    text-align: center;
}

.innerKnowme h1, .portfolio h1, .letsTalk h1{
    position: relative;
}

.portforlioContent, .letsTalkLinkedIn{
    margin-top: 20px;
} 


//.innerKnowme h1:after, .innerPortfolio h1:after, .letsTalkH1 h1:after{

.innerKnowme h1:after, .innerPortfolio h1:after, .innerLetsTalk h1:after{
    content: "";
    height: 100%;
    width: 100px;
    border-bottom: 1px solid rgba(141, 135, 135, 0.75);
    text-align: center;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.menuButton, .checkButton{
    top: 15px;
    right: 40px;
}

.innerKnowme h3{
    font-weight: 500;
    text-align: center;
    margin: 30px 0 0 0;
    text-shadow: 0 1px 0px rgba(255, 255, 255, .5);
}

.portforlioContent, footer, .divOne, .linkedIn{
    justify-content: center;
}

.portforlioContent, footer, .divOne{
    align-items: center;
}

.portforlioContent{
    min-height: 20vh;
}

img.imgLink{
    min-height: 300px;
    min-width: 300px;
    transition: all 500ms ease-in-out;
}

img.imgLink:hover{
    transform: scale(.95);
}

.imgLink{
    border-radius: 3%;
    margin-bottom: 25px;
}

.linkedInImg{
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.letstalk{
    min-height: 50vh;
}

.letsTalkLinkedIn p{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
}

#address .icons, #emailAddress .icons,
#phoneNumber .icons, #github .icons{
    margin-bottom: -5px;
    color: black;
    text-shadow: 0px 2px 4px white;
    text-align: center;
    font-size: 1.45rem;
    transition: all 400ms ease-in-out;
}

#address .icons:hover, #emailAddress .icons:hover,
#phoneNumber .icons:hover, #github .icons:hover{
    transform: scale(1.1);
}

footer{
    min-height: 10vh;
    background: rgba(0,0,0,1);
    color: #fff;
    font-size: 1.1rem;
}

.linkedIn{
    margin-top: 15px;
}

#github p a{
    text-decoration: none;
}

.letsTalkDetails p, .letsTalkDetails #github p a{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-shadow: 0px 2px 4px white;
    transition: all 700ms ease;
}


.letsTalkDetails #github p a:hover{
    font-size: 1.17rem;
}

#address, #emailAddress, #phoneNumber{
    margin-bottom: 15px;
}

@media screen and (min-width: 850px) {
    .divOne{
        flex-direction: row;
        margin-top: 10px;
        justify-content: space-evenly;
    }
    
    .profile, .creativity{
        flex: 1;
        padding: 0 20px;
    }

    .myDetails{
        align-items: center;
    }

    .letsTalkLinkedIn{
        margin-top: 30px;
    } 
    
}